<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!--bean id="testBean" class="kok.spring21.TestBean">
        <constructor-arg value="Koko"></constructor-arg>
    </bean>

    <bean id="beanPlayer" class="kok.spring21.BeanPlayer"  scope="prototype">
        <constructor-arg ref="testBean"></constructor-arg>
    </bean-->

    <bean id="book" class="kok.spring21.models.Book"  scope="prototype"/>

    <bean id="bookRepositoryInMemory" class="kok.spring21.repo.BookRepositoryInMemory"  scope="singleton"/>

    <bean id="bookService" class="kok.spring21.service.BookService">
        <constructor-arg name="bookRepository" ref="bookRepositoryInMemory"/>
    </bean>


</beans>